// Colors
$main-color: #285A43;
$main-light-color: #337A5B;
$secondary-color: #121212;
$third-color: #FFFFFF;
$third-medium-color: #FCFCFC;
$third-darker-color: #F8F8F8;

// Media queries
$small_mobile: 500px;
$medium_mobile: 600px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1700px;