@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.email {
  margin-bottom: 120px;
  padding: 128px 101px;
  background-image: url('../../../public/assets/images/email.png');
  background-size: cover;

  @media (max-width: $tablet) {
    padding: 80px 80px;
  }
  @media (max-width: $mobile) {
    margin-bottom: 80px;
    padding: 50px 18px;
  }
  @media (max-width: $small_mobile) {
    margin-bottom: 50px;
  }

  .content {
    display: flex;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    .contentTitle {
      padding-right: 70px;
      width: 50%;

      @media (max-width: 900px) {
        margin-bottom: 30px;
        padding-right: 0;
        width: 100%;
        text-align: center;

        @media (max-width: $mobile) {
          max-width: 90%;
        }
        @media (max-width: $mobile) {
          max-width: 100%;
        }
      }

      h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        color: $third-color;

        @media (max-width: $mobile) {
          font-size: 30px;
          line-height: 40px;
        }
        @media (max-width: $small_mobile) {
          font-size: 27px;
        }
      }
    }

    .contentForm {
      width: 50%;
      display: flex;

      @media (max-width: 900px) {
        width: 100%;
      }
      @media (max-width: $small_mobile) {
        flex-direction: column;
      }

      .contentFormInput {
        padding: 0 20px;
        flex-grow: 1;
        color: $third-darker-color;
        outline: none;
        backdrop-filter: blur(2px);
        background-color: transparent;
        border: 1px solid $third-darker-color;
        border-radius: 5px;

        @media (max-width: $small_mobile) {
          margin-bottom: 20px;
          padding: 13px 20px;
        }
      }

      .contentFormBtn {
        @include secondBtn;
        margin-left: 25px;
        border-radius: 5px;

        @media (max-width: $small_mobile) {
          margin-left: 0;
        }
      }
    }
  }
}